{% load static %}
<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8">
    <title>CodePen - #2 in 2021 / Welcome / CSS Stylus Pug</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="{% static 'Splash/CSS/index.css' %}">
  </head>
  <body>
    <!-- partial:index.partial.html -->
    {% for bg_color in bg_colors %}
      <div class='background background{{forloop.counter|add:"-1"}}'></div>
    {% endfor %}
  
    <div class="criterion">
      {% for word in splash_word %}
        {% with index=forloop.counter|add:"-1" %}
          <div class="text text{{index}}">{{word}}</div>
          <div class="frame frame{{index}}"></div>
          <div class="particle particle{{index}}0"></div>
          <div class="particle particle{{index}}1"></div>
          <div class="particle particle{{index}}2"></div>
          <div class="particle particle{{index}}3"></div>
          <div class="particle particle{{index}}4"></div>
          <div class="particle particle{{index}}5"></div>
          <div class="particle particle{{index}}6"></div>
          <div class="particle particle{{index}}7"></div>
          <div class="particle particle{{index}}8"></div>
          <div class="particle particle{{index}}9"></div>
          <div class="particle particle{{index}}10"></div>
          <div class="particle particle{{index}}11"></div>
        {% endwith %}
      {% endfor %}
    </div>  
  </body>
</html>
