{% extends '../base.html' %} {% load static %} {% block Content %}

<!-- Start Team -->
<div id="team" class="team-box">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title-box">
          <h2>Our Doctor</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>
    <div class="row">
      {% comment %} start Doctor {% endcomment %} {% for doctor in doctors %}
      <div class="col-md-4 col-sm-6">
        <div class="our-team">
          <div class="pic">
            <img
              src="{% get_media_prefix %}{{doctor.image}}"
              alt="{{doctor.name}}"
            />
          </div>
          <div class="team-content">
            <h3 class="title">{{doctor.name}}</h3>
            <span class="post">{{doctor.job}}</span>
            <ul class="social">
              {% for social in doctor.social_media.all %}
              <li>
                <a href="#"
                  ><i class="{{social.fa_icon}}" aria-hidden="true"></i
                ></a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      {% endfor %} {% comment %} End Doctor {% endcomment %}
    </div>
  </div>
</div>

<!-- End Team -->

{% endblock Content %}
