{% extends "partials/base.html" %}
{% load static %}
{% block html %}data-layout="vertical" data-layout-style="default" data-layout-position="fixed" data-topbar="light" data-sidebar="dark" data-sidebar-size="sm-hover" data-layout-width="fluid"{% endblock html %}
{% block title %}Vertical Hovered Layout{% endblock title %}
{% block extra_css %}
    <!-- swiper slider css -->
    <link href="{% static 'libs/swiper/swiper-bundle.min.css'%}" rel="stylesheet"  />
{% endblock extra_css %}
{% block content %}
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    {% block pagetitle %}
                    {% include "partials/page-title.html" with pagetitle="Layouts" title="Vertical Hovered" %}
                    {% endblock pagetitle %}

                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

        {% block footer %}
        {% include "partials/footer.html" %}
        {% endblock footer %}
        </div>
        <!-- end main content-->
{% endblock content %}
{% block extra_js %}
    <!-- apexcharts -->
    <script src="{% static 'libs/apexcharts/dist/apexcharts.min.js'%}"></script>

    <!-- Swiper Js -->
    <script src="{% static 'libs/swiper/swiper-bundle.min.js'%}"></script>

    <!-- CRM js -->
    <script src="{% static 'js/pages/dashboard-crypto.init.js'%}"></script>
{% endblock extra_js %}