{% extends '../base.html' %} {% load static %} {% block Content %}

<!-- Start Blog -->
<div id="blog" class="blog-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-box">
                    <h2>Blog</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="blog-inner">
                    <div class="blog-img">
                        <img class="img-fluid" src="{% static 'images/blog-img-01.jpg' %}" alt="" />
                    </div>
                    <div class="item-meta">
                        <a href="#"><i class="fa fa-comments-o"></i> 5 Comment </a>
                        <a href="#"><i class="fa fa-user-o"></i> Admin</a>
                        <span class="dti">25 July 2018</span>
                    </div>
                    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                    </p>
                    <a class="new-btn-d br-2" href="#">Read More
            <i class="fa fa-angle-double-right" aria-hidden="true"></i
          ></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="blog-inner">
                    <div class="blog-img">
                        <img class="img-fluid" src="{% static 'images/blog-img-02.jpg' %}" alt="" />
                    </div>
                    <div class="item-meta">
                        <a href="#"><i class="fa fa-comments-o"></i> 5 Comment </a>
                        <a href="#"><i class="fa fa-user-o"></i> Admin</a>
                        <span class="dti">25 July 2018</span>
                    </div>
                    <h2>Proin vel sem ut lorem rhoncus lacinia.</h2>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                    </p>
                    <a class="new-btn-d br-2" href="#">Read More
            <i class="fa fa-angle-double-right" aria-hidden="true"></i
          ></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="blog-inner">
                    <div class="blog-img">
                        <img class="img-fluid" src="{% static 'images/blog-img-03.jpg' %}" alt="" />
                    </div>
                    <div class="item-meta">
                        <a href="#"><i class="fa fa-comments-o"></i> 5 Comment </a>
                        <a href="#"><i class="fa fa-user-o"></i> Admin</a>
                        <span class="dti">25 July 2018</span>
                    </div>
                    <h2>Aliquam egestas magna a malesuada rutrum.</h2>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                    </p>
                    <a class="new-btn-d br-2" href="#">Read More
            <i class="fa fa-angle-double-right" aria-hidden="true"></i
          ></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Blog -->
{% endblock Content %}