{% extends 'base.html' %} {% load static %} {% block Content %}
<!-- Start Banner -->
<div class="ulockd-home-slider">
    <div class="container-fluid">
        <div class="row">
            <div class="pogoSlider" id="js-main-slider">
                <div class="pogoSlider-slide" data-transition="fade" data-duration="1500" style="background-image: url(static/images/slider-01.jpg)">
                    <div class="lbox-caption pogoSlider-slide-element">
                        <div class="lbox-details">
                            <h1>Welcome to Health Lab</h1>
                            <p>
                                Fusce convallis ante id purus sagittis malesuada. Sed erat ipsum
                            </p>
                            <a href="#" class="btn">Contact Us</a>
                        </div>
                    </div>
                </div>
                <div class="pogoSlider-slide" data-transition="fade" data-duration="1500" style="background-image: url(static/images/slider-02.jpg)">
                    <div class="lbox-caption pogoSlider-slide-element">
                        <div class="lbox-details">
                            <h1>We are Expert in The Field of Health Lab</h1>
                            <p>
                                Fusce convallis ante id purus sagittis malesuada. Sed erat ipsum
                            </p>
                            <a href="#appointment" class="btn">Appointment</a>
                        </div>
                    </div>
                </div>
                <div class="pogoSlider-slide" data-transition="fade" data-duration="1500" style="background-image: url(static/images/slider-03.jpg)">
                    <div class="lbox-caption pogoSlider-slide-element">
                        <div class="lbox-details">
                            <h1>Welcome to Health Lab</h1>
                            <p>
                                Fusce convallis ante id purus sagittis malesuada. Sed erat ipsum
                            </p>
                            <a href="#" class="btn">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .pogoSlider -->
        </div>
    </div>
</div>

<!-- End Banner -->

{% endblock Content %}